/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/
.error-404 {
    position: relative;
    h3 {
        line-height: 1.2;
    }

    a {
        text-decoration: none;
        font-size: 0.875rem;
        font-weight: 600;
        padding: 1.5rem 3.5rem;
        position: relative;
        top: 45rem;
    }
}