
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/

.post {
	position: relative;
	margin-bottom: 1.875rem;
}

.post-thumbnail {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;

	img {
		width: 100%;
	}

	a {
		display: block;
	}
}

.post-content {
	.entry-title {
		font-family: $body-font;
		color: #393939;
		letter-spacing: 0.05rem;
	}

	.entry-meta {
		a {
			font-size: 0.875em;
			color: #939599;
		}
	}

	.entry-content {
		font-size: 0.875rem;
		line-height: 1.4rem;
	}

	.entry-categories {
		font-family: $heading-font;
		font-size: 0.875rem;
		color: #939599;
	}

	&.current {
		.entry-title {
			font-size: 2.8125rem;
			line-height: 1.2;
			font-weight: 400;
		}

		.entry-categories {
			span {
				color: $theme-color;
				padding-right: 1.5rem;
				border-right: 1px solid #e5e5e5;

				&:nth-child(1) {
					font-size: 1.875rem;
				}

				&:nth-child(2) {
					font-size: 1.3125rem;
				}
			}
		}
	}
}
