
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	.title {
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0.05rem;
		color: $white;
	}
}

.breadcrumb {
	li {
		a {
			font-weight: 500;
			font-size: 0.875rem;
			color: #969696;
			font-family: $heading-font;

			&.active {
				color: $theme-color;
			}
		}

		&:nth-child(1) {
			&:after {
				content: "";
				position: relative;
				display: inline-block;
				width: 1px;
				height: 1.5rem;
				vertical-align: middle;
				background-color: #e5e5e5;
				margin: 0 1rem;
			}
		}
	}
}